In [6]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('jakarta_traffic_data.csv')

In [16]:
df.head(5)

,Date,Location,Hour,Vehicle_Count,Average_Speed_kmh,Weather_Condition,Is_Weekend,Road_Type
0,2024-01-01,Thamrin-Sudirman,7,1250.0,15.2,Sunny,False,Main_Road
1,2024-01-01,Thamrin-Sudirman,8,1890.0,12.5,Sunny,False,Main_Road
2,2024-01-01,Thamrin-Sudirman,9,1650.0,18.3,Sunny,False,Main_Road
3,2024-01-01,Thamrin-Sudirman,17,1780.0,14.1,Sunny,False,Main_Road
4,2024-01-01,Thamrin-Sudirman,18,2100.0,11.8,Sunny,False,Main_Road

In [18]:
df.describe()

                      Date        Hour  Vehicle_Count  Average_Speed_kmh
count                  288  288.000000     287.000000         287.000000
mean   2024-01-08 00:00:00   12.027778    1349.442509          21.431359
min    2024-01-01 00:00:00    7.000000     380.000000           8.400000
25%    2024-01-04 00:00:00    8.000000    1050.000000          15.600000
50%    2024-01-08 00:00:00   10.000000    1320.000000          19.800000
75%    2024-01-12 00:00:00   17.000000    1650.000000          25.800000
max    2024-01-16 00:00:00   22.000000    2450.000000          52.100000
std                    NaN    4.319060     412.906764           8.013873

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               288 non-null    datetime64[ns]
 1   Location           288 non-null    object
 2   Hour               288 non-null    int64
 3   Vehicle_Count      287 non-null    float64
 4   Average_Speed_kmh  287 non-null    float64
 5   Weather_Condition  287 non-null    object
 6   Is_Weekend         287 non-null    object
 7   Road_Type          288 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 18.1+ KB

In [12]:
# check missing values
print(df.isnull().sum())

Date                 0
Location             0
Hour                 0
Vehicle_Count        1
Average_Speed_kmh    1
Weather_Condition    1
Is_Weekend           1
Road_Type            0
dtype: int64

In [26]:
df['Vehicle_Count'].mean()

1349.4425087108013

In [14]:
# change column Date data type into datetime
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df['Vehicle_Count'] = df['Vehicle_Count'].fillna(df['Vehicle_Count'].mean())