In [4]:
# import library
import pandas as pd
import numpy as np

# Step 1: Data Loading and Initial Exploration (Easy)

# 1.1 the day of the week with

In [6]:
# open the dataset
df = pd.read_csv('jakarta_traffic_data.csv')

# 1.2 Display the first 5 rows to understand the data structure

# see 5 first row of the dataset
df.head(5)

# 1.3 Show basic information about the dataset (number of rows, columns, data types)

In [10]:
# see the statistical things of the dataset
df.describe()

             Hour  Vehicle_Count  Average_Speed_kmh
count  288.000000     287.000000         287.000000
mean    12.027778    1349.442509          21.431359
std      4.319060     412.906764           8.013873
min      7.000000     380.000000           8.400000
25%      8.000000    1050.000000          15.600000
50%     10.000000    1320.000000          19.800000
75%     17.000000    1650.000000          25.800000
max     22.000000    2450.000000          52.100000

# 1.4 Check for any missing values in each column

In [12]:
# see the information about the data type & null values condition of the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               288 non-null    object
 1   Location           288 non-null    object
 2   Hour               288 non-null    int64
 3   Vehicle_Count      287 non-null    float64
 4   Average_Speed_kmh  287 non-null    float64
 5   Weather_Condition  287 non-null    object
 6   Is_Weekend         287 non-null    object
 7   Road_Type          288 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 18.1+ KB

In [14]:
# check missing values
print(df.isnull().sum())

Date                 0
Location             0
Hour                 0
Vehicle_Count        1
Average_Speed_kmh    1
Weather_Condition    1
Is_Weekend           1
Road_Type            0
dtype: int64

# Step 2: Data Cleaning and Preparation (Easy-Moderate)

# 2.1 Convert the Date column to datetime format

In [18]:
# change column Date data type into datetime
df['Date'] = pd.to_datetime(df['Date'])

# 2.2 Handle any missing values appropriately

In [20]:
# fill null column on Vehicle_Count column with the average of Vehicle_Count
df['Vehicle_Count'] = df['Vehicle_Count'].fillna(df['Vehicle_Count'].mean())

In [26]:
# fill null column on Average_Speed_kmh column with the average of Average_Speed_kmh
df['Average_Speed_kmh'] = df['Average_Speed_kmh'].fillna(df['Average_Speed_kmh'].mean())

In [35]:
# Create a new column called Day_of_Week that shows the day name (Monday, Tuesday, etc.)
df['Day_of_Week'] = df['Date'].dt.day_name()

In [93]:
# Create a new column called Time_Period that categorizes hours into:
# "Morning Rush" (7-9)
# "Midday" (10-15)
# "Evening Rush" (16-19)
# "Night" (20-6)

df['Time_Period'] = pd.cut(df['Hour'],bins=[0,6,9,15,19,23],labels=['Night','Morning Rush','Midday','Evening Rush','Night'],right=True,ordered=False)

In [95]:
df

,Date,Location,Hour,Vehicle_Count,Average_Speed_kmh,Weather_Condition,Is_Weekend,Road_Type,Day_of_Week,Time_Period
0,2024-01-01,Thamrin-Sudirman,7,1250.000000,15.200000,Sunny,False,Main_Road,Monday,Morning Rush
1,2024-01-01,Thamrin-Sudirman,8,1890.000000,12.500000,Sunny,False,Main_Road,Monday,Morning Rush
2,2024-01-01,Thamrin-Sudirman,9,1650.000000,18.300000,Sunny,False,Main_Road,Monday,Morning Rush
3,2024-01-01,Thamrin-Sudirman,17,1780.000000,14.100000,Sunny,False,Main_Road,Monday,Evening Rush
4,2024-01-01,Thamrin-Sudirman,18,2100.000000,11.800000,Sunny,False,Main_Road,Monday,Evening Rush
...,...,...,...,...,...,...,...,...,...,...
283,2024-01-15,Senayan_Circle,18,2120.000000,12.400000,Sunny,False,Main_Road,Monday,Evening Rush
284,2024-01-16,Thamrin-Sudirman,12,1349.442509,25.800000,Sunny,False,Main_Road,Tuesday,Midday
285,2024-01-16,Gatot_Subroto,13,1180.000000,21.431359,Cloudy,False,Highway,Tuesday,Midday
286,2024-01-16,Kuningan_Area,21,420.000000,52.100000,NaN,False,Secondary_Road,Tuesday,Night
287,2024-01-16,Senayan_Circle,22,380.000000,48.700000,Sunny,NaN,Main_Road,Tuesday,Night

# Step 3: Traffic Pattern Analysis (Moderate)

# 3.1 Peak Hours Analysis:

In [122]:
# Find the hour with the highest average vehicle count across all locations
# Find the hour with the lowest average speed across all locations
# Print both findings with explanatory text

df_VhcCount_AvgSpeed_perHour = df.groupby('Hour').agg({'Vehicle_Count':'mean','Average_Speed_kmh':'mean'})
df_VhcCount_AvgSpeed_perHour

      Vehicle_Count  Average_Speed_kmh
Hour
7       1101.363636          20.222727
8       1600.681818          16.550000
9       1334.545455          22.597727
10       763.125000          34.956250
11       890.625000          31.887500
12      1349.442509          25.800000
13      1180.000000          21.431359
14      1091.875000          28.287500
15      1223.125000          25.868750
17      1497.272727          18.234091
18      1780.000000          15.309091
21       420.000000          52.100000
22       380.000000          48.700000

In [124]:
df_VhcCount_AvgSpeed_perHour[(df_VhcCount_AvgSpeed_perHour['Vehicle_Count']==df_VhcCount_AvgSpeed_perHour['Vehicle_Count'].max()) | 
                             (df_VhcCount_AvgSpeed_perHour['Average_Speed_kmh']==df_VhcCount_AvgSpeed_perHour['Average_Speed_kmh'].min())]

      Vehicle_Count  Average_Speed_kmh
Hour
18           1780.0          15.309091

# 3.2 Location Comparison:

In [120]:
# Calculate the average vehicle count for each 
# Identify the top 3 most congested locations (highest vehicle count)
# Identify the location with the slowest average speed

df_VhcCount_AvgSpeed_perLoc = df.groupby('Location').agg({'Vehicle_Count':'mean','Average_Speed_kmh':'mean'})
df_VhcCount_AvgSpeed_perLoc

                  Vehicle_Count  Average_Speed_kmh
Location
Gatot_Subroto       1283.194444          22.292102
Kuningan_Area        998.472222          28.252778
Senayan_Circle      1452.777778          19.300000
Thamrin-Sudirman    1663.325590          15.880556

In [126]:
df_VhcCount_AvgSpeed_perLoc[(df_VhcCount_AvgSpeed_perLoc['Vehicle_Count']==df_VhcCount_AvgSpeed_perLoc['Vehicle_Count'].max()) | 
                             (df_VhcCount_AvgSpeed_perLoc['Average_Speed_kmh']==df_VhcCount_AvgSpeed_perLoc['Average_Speed_kmh'].min())]

                  Vehicle_Count  Average_Speed_kmh
Location
Thamrin-Sudirman     1663.32559          15.880556

# 3.3 Weekend vs Weekday Analysis:

In [273]:
# Compare average vehicle counts between weekends and weekdays
df_VhcCount_AvgSpeed_DayType = df.groupby('Is_Weekend').agg({'Vehicle_Count':'mean','Average_Speed_kmh':'mean'})
df_VhcCount_AvgSpeed_DayType

            Vehicle_Count  Average_Speed_kmh
Is_Weekend
False          1456.32037          18.778168
True            992.18750          30.250000

In [277]:
# Compare average speeds between weekends and weekdays
Weekday = df_VhcCount_AvgSpeed_DayType['Average_Speed_kmh'][False]
Weekend = df_VhcCount_AvgSpeed_DayType['Average_Speed_kmh'][True]

Weekday / Weekend

0.6207658687151195

# Determine if there's a significant difference and state your conclusion
The Average Speed of vehicle on weekday is just 62% of The Average Speed of vehicle on weekend

# Step 4: Weather Impact Analysis (Moderate)

# 4.1 Group the data by weather condition and calculate:
 # Average vehicle count for each weather condition
 # Average speed for each weather condition

In [128]:
df_VhcCount_AvgSpeed_perWeather = df.groupby('Weather_Condition').agg({'Vehicle_Count':'mean','Average_Speed_kmh':'mean'})
df_VhcCount_AvgSpeed_perWeather

                   Vehicle_Count  Average_Speed_kmh
Weather_Condition
Cloudy               1314.285714          21.862745
Rainy                1500.789474          18.244737
Sunny                1290.742108          22.761940

# 4.2 Determine which weather condition causes the most severe traffic (lowest speed)

In [130]:
df_VhcCount_AvgSpeed_perWeather[(df_VhcCount_AvgSpeed_perWeather['Average_Speed_kmh']==df_VhcCount_AvgSpeed_perWeather['Average_Speed_kmh'].min())]

                   Vehicle_Count  Average_Speed_kmh
Weather_Condition
Rainy                1500.789474          18.244737

# 4.3 Calculate the percentage difference in average speed between sunny and rainy conditions

In [263]:
Sunny = df_VhcCount_AvgSpeed_perWeather['Average_Speed_kmh']['Sunny']
Rainy = df_VhcCount_AvgSpeed_perWeather['Average_Speed_kmh']['Rainy']

(((Sunny - Rainy) / Rainy) * 100).round(2).astype(str) + " %"

'24.76 %'

# Step 5: Road Type Performance (Moderate)

# 5.1 Analyze traffic patterns by road type:
 # Average vehicle count per road type
 # Average speed per road type

In [267]:
df_VhcCount_AvgSpeed_perRoad_Type = df.groupby('Road_Type').agg({'Vehicle_Count':'mean','Average_Speed_kmh':'mean'})
df_VhcCount_AvgSpeed_perRoad_Type

                Vehicle_Count  Average_Speed_kmh
Road_Type
Highway           1283.194444          22.292102
Main_Road         1566.289808          17.372727
Main_Road          380.000000          48.700000
Secondary_Road     998.472222          28.252778

# 5.2 Identify which road type handles the most traffic volume

In [269]:
df_VhcCount_AvgSpeed_perRoad_Type[(df_VhcCount_AvgSpeed_perRoad_Type['Vehicle_Count']==df_VhcCount_AvgSpeed_perRoad_Type['Vehicle_Count'].max())]

           Vehicle_Count  Average_Speed_kmh
Road_Type
Main_Road    1566.289808          17.372727

# 5.3 Determine which road type maintains the highest average speed

In [271]:
df_VhcCount_AvgSpeed_perRoad_Type[(df_VhcCount_AvgSpeed_perRoad_Type['Average_Speed_kmh']==df_VhcCount_AvgSpeed_perRoad_Type['Average_Speed_kmh'].max())]

            Vehicle_Count  Average_Speed_kmh
Road_Type
Main_Road           380.0               48.7

# Step 6: Rush Hour Deep Dive (Moderate-Advanced)

# 6.1 Filter data for only "Morning Rush" and "Evening Rush" periods

In [329]:
df_rush_hour = df[(df['Time_Period']=="Morning Rush") | (df['Time_Period']=="Evening Rush")]
df_rush_hour

,Date,Location,Hour,Vehicle_Count,Average_Speed_kmh,Weather_Condition,Is_Weekend,Road_Type,Day_of_Week,Time_Period
0,2024-01-01,Thamrin-Sudirman,7,1250.0,15.2,Sunny,False,Main_Road,Monday,Morning Rush
1,2024-01-01,Thamrin-Sudirman,8,1890.0,12.5,Sunny,False,Main_Road,Monday,Morning Rush
2,2024-01-01,Thamrin-Sudirman,9,1650.0,18.3,Sunny,False,Main_Road,Monday,Morning Rush
3,2024-01-01,Thamrin-Sudirman,17,1780.0,14.1,Sunny,False,Main_Road,Monday,Evening Rush
4,2024-01-01,Thamrin-Sudirman,18,2100.0,11.8,Sunny,False,Main_Road,Monday,Evening Rush
...,...,...,...,...,...,...,...,...,...,...
279,2024-01-15,Senayan_Circle,7,1320.0,16.8,Sunny,False,Main_Road,Monday,Morning Rush
280,2024-01-15,Senayan_Circle,8,1920.0,13.2,Sunny,False,Main_Road,Monday,Morning Rush
281,2024-01-15,Senayan_Circle,9,1620.0,18.5,Sunny,False,Main_Road,Monday,Morning Rush
282,2024-01-15,Senayan_Circle,17,1780.0,15.1,Sunny,False,Main_Road,Monday,Evening Rush
283,2024-01-15,Senayan_Circle,18,2120.0,12.4,Sunny,False,Main_Road,Monday,Evening Rush

# 6.2 For each rush period:
 # Find the most congested location (highest vehicle count)
 # Calculate the average speed during rush hours

In [ ]:
df_rr_vc_as = df_rush_hour.groupby(['Time_Period','Location']).agg({'Vehicle_Count':'max','Average_Speed_kmh':'mean'})
df_rr_vc_as = df_rr_vc_as.reset_index()
df_rr_vc_as = df_rr_vc_as[df_rr_vc_as['Time_Period'].isin(['Morning Rush','Evening Rush'])]
df_rr_vc_as

# the most congested location (highest vehicle count) when Evening Rush is Thamrin-Sudirman (2450 vehicle)
# the most congested location (highest vehicle count) when Morning Rush is Thamrin-Sudirman (2180 vehicle)

# 6.3 Compare morning vs evening rush hour severity

In [356]:
Morning_Speed = df_rr_vc_as[df_rr_vc_as['Time_Period']=='Morning Rush']['Average_Speed_kmh'].mean()
Evening_Speed = df_rr_vc_as[df_rr_vc_as['Time_Period']=='Evening Rush']['Average_Speed_kmh'].mean()
Morning_Speed / Evening_Speed

1.1799805768231815

# Morning Speed = 1.18 times higher than Evening Speed

In [358]:
Morning_Vehicle = df_rr_vc_as[df_rr_vc_as['Time_Period']=='Morning Rush']['Vehicle_Count'].mean()
Evening_Vehicle = df_rr_vc_as[df_rr_vc_as['Time_Period']=='Evening Rush']['Vehicle_Count'].mean()
Morning_Vehicle / Evening_Vehicle

0.8929889298892989

# Morning Vehicle volume = 0.89 times than Evening Vehicle volume

# 6.4 Identify the day of the week with the worst evening rush hour traffic

In [369]:
df_rush_hour[(df['Time_Period']=="Evening Rush") & (df['Average_Speed_kmh']==df['Average_Speed_kmh'].min())]

C:\Users\Sulianto\AppData\Local\Temp\ipykernel_2936\373138232.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_rush_hour[(df['Time_Period']=="Evening Rush") & (df['Average_Speed_kmh']==df['Average_Speed_kmh'].min())]

,Date,Location,Hour,Vehicle_Count,Average_Speed_kmh,Weather_Condition,Is_Weekend,Road_Type,Day_of_Week,Time_Period
176,2024-01-10,Thamrin-Sudirman,18,2450.0,8.4,Rainy,False,Main_Road,Wednesday,Evening Rush

In [371]:
df_rush_hour[(df['Time_Period']=="Evening Rush") & (df['Vehicle_Count']==df['Vehicle_Count'].max())]

C:\Users\Sulianto\AppData\Local\Temp\ipykernel_2936\1118378130.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_rush_hour[(df['Time_Period']=="Evening Rush") & (df['Vehicle_Count']==df['Vehicle_Count'].max())]

,Date,Location,Hour,Vehicle_Count,Average_Speed_kmh,Weather_Condition,Is_Weekend,Road_Type,Day_of_Week,Time_Period
176,2024-01-10,Thamrin-Sudirman,18,2450.0,8.4,Rainy,False,Main_Road,Wednesday,Evening Rush

# Wednesday is the day of the week with the worst evening rush hour traffic